/* == GERAL ====================*/
* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3e8670;
  --headline: #212529;
  --paragraph: #495057;
  --brand-beige: #fffaf1;
  --brand-green: #dce9e2;

  font-size: 62, 5%;

  --nav-height: 7.2rem;
}
body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}
.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}
/*===HEADER ====================================*/
header {
  margin-top: calc(4.1rem + var(--nav-height));
}
header img {
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  width: 26.4rem;
}
header::before {
  content: '';
  width: 100vw;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-green);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header button {
  width: 26.3rem;
  height: 5.2rem;
  border: none;
  border-radius: 4rem;
  color: white;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 6rem;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header h4 {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-bottom: 1.6;
}
header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  margin-bottom: 2.4rem;
}
p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

.container {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-green);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}
.cont h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}
.cont p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 150%;
}
/*=== NAVIGATION ====================================*/
nav {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}
nav.scroll svg:nth-child(1) path {
  fill: white;
}
nav.scroll svg:nth-child(2) path {
  stroke: white;
}
